schemas/TypicalWords.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="infoitems">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="interest">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="activity">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="about">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="books">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="music">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="movies">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="political">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:unsignedByte" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="religion">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="inspiredby">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="peoplemain">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:unsignedByte" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="lifemain">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:unsignedByte" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="smoking">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:unsignedByte" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="alcohol">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" type="xs:unsignedByte" />
                    <xs:element name="count" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="group_id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>