schemas/VKCandidates.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="candidates">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="candidate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fname" type="xs:string" />
              <xs:element name="lname" type="xs:string" />
              <xs:element name="score" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>